<div class="background">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1482245294234-b3f2f8d5f1a4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1130&q=80)">
    <div class="banner-content">
      <h1>Rent art</h1>
      <p>Make your home unique.</p>
      <% if user_signed_in? %>
        <%= link_to "Add art", new_art_path , class: "btn-banner" %>
      <% else %>
        <%= link_to "Rent now", new_user_registration_path , class: "btn-banner" %>
      <% end %>
    </div>
  </div>
<%= render "cards" %>
</div>

<h1>Here</h1>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>"
></div>

  <!-- class="mapboxgl-popup" -->

