<div class="container-new-edit">
  <%= simple_form_for @art do |f| %>
    <%= f.input :title %>
    <%= f.input :artist %>
    <%= f.input :description %>
    <%= f.input :dimensions %>
    <%= f.input :city %>
    <%= f.input :price %>
  <div class="form-button">
    <%= f.input :photo, as: :file, label: "" %>
  </div>
    <%= f.submit "Save", class: "btn-navigation" %>
  <% end %>
</div>
