<div class="container">
  <%= simple_form_for @art do |f| %>
    <%= f.input :title %>
    <%= f.input :artist %>
    <%= f.input :description %>
    <%= f.input :dimensions %>
    <%= f.input :city %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Save", class: "btn-navigation" %>
  <% end %>
</div>

