<div class="container-show">
  <div class="show-box">

    <div class="show-box-info">
      <h1><%= @art.title %></h1>
      <h2><%= @art.artist %></h2>
      <p> Price per month: £<%= @art.price %></p>
      <% if @art.description.nil? == false %></p>
        <p><%= @art.description %></p>
      <% end %>
      <p>Dimensions (in cm): <%= @art.dimensions %>
        <br><br>
      <%= link_to "Edit", edit_art_path , class: "btn-navigation" %>
      <%= link_to "Delete", art_path(@art), class: "btn-navigation", method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to "Book", arts_path, class: "btn-navigation", data: { confirm: "Congratulations, your art will be shipped!" } %>
     </p>
    </div>

    <div class="show-picture">
      <img src="<%= cl_image_path @art.photo.key, crop: :fill if @art.photo.attached? %>" alt="<%= @art.title %>">
    </div>

  </div>


</div>

